{% extends 'base.html' %}
{% load static %}

{% block title %}Cancelar Turno{% endblock %}

{% block content %}
<p>Utiliza el código que se te proporcionó al momento de la reserva para cancelarla.</p>
<form method="post">
    {% csrf_token %}
    
    <!-- TurnoCancelacionForm: codigo_reserva -->
    {% for field in form %}
        <div class="form-group">
            <label for="{{ field.id_for_label }}">{{ field.label }}</label>
            {{ field }}
            {% for error in field.errors %}
                <p style="color: red;">{{ error }}</p>
            {% endfor %}
        </div>
    {% endfor %}

    <button type="submit" class="btn-submit" style="background-color: #f44336;">Cancelar Turno</button>
</form>
{% endblock %}
